header {
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .nav {
    background-color: #003366;
    padding: 10px;
    color: white;
  }

  .nav p {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .nav a {
    color: white;
    flex: 1;
    text-decoration: none;
    text-align: center;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  .nav p {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }
  
  main {
    background-color: #d4d4d4;
    padding: 20px;
    margin: 0;
  }
  
  #about {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: calc(100% - 40px);
  }

  .about-label {
    color: #004080;
  }

  ul {
    list-style-position: inside;
    padding: 0;
    text-align: center;
  }

  footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
  }
  